@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

/* font-family: 'Monoton', cursive; */
/* font-family: 'Montserrat', sans-serif; */



::-webkit-scrollbar {
  width: 8px;
  height: 0;
  
}
::-webkit-scrollbar-track {
  background:#0e0f0f;
  }
::-webkit-scrollbar-thumb {
  background: #ED145B;
  border-radius: 10px;
}

body{
  margin: 0;
  padding: 0;
}